{% extends 'base.html' %}

{% block 'title' %}Смена пароля{% endblock %}

{% block 'head' %}
    <style>
        form {
            width: 50%;
            margin: auto;
            margin-top: 20vh;
        }
    </style>
{% endblock %}

{% block 'scripts' %}
    <script>
        window.onload = () => {
            for (const el of document.getElementsByTagName("input")) {
                el.classList.add("form-control")
            }
        }
        document.currentScript.remove();
    </script>
{% endblock %}

{% block 'body' %}
    <form method="post">
        {% csrf_token %}
        <h1 class="text-center">СМЕНА ПАРОЛЯ</h1><br>
        <label>Старый пароль:</label> {{ form.old_password }} <br>

        <label>Новый пароль:</label> {{ form.new_password1 }}
        <ul>
            <li>Пароль должен отличаться от ваших личных данных</li>
            <li>Длина пароля не должна быть меньше 8 символов</li>
            <li>Пароль не должен быть популярным (12345 и т.д.)</li>
            <li>Пароль не может содержать только символы</li>
        </ul>

        <label>Повторите пароль для подтверждения:</label> {{ form.new_password2 }}

        <br>
        <div class="text-center"><button class="btn btn-primary" type="submit">Сменить пароль</button></div>
    </form>
{% endblock %}