{% extends 'base.html' %}

{% block 'title' %}Удаление аватарки{% endblock %}

{% block 'head' %}
    <style>
        form {
            width: 50%;
            margin: auto;
            margin-top: 20vh;
        }

        button {
            margin-top: 60px;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <form method="POST" class="text-center">
        {% csrf_token %}
        <h1>УДАЛЕНИЕ АВАТАРА</h1><br>
        Вы действительно хотите удалить свой аватар?<br>
        <small>Это действие нельзя отменить</small><br>
        <button type="submit" class="btn btn-outline-danger">Да!</button>
    </form>
{% endblock %}