{% extends 'base.html' %}

{% block 'title' %}
    Ваши подписки
{% endblock %}

{% block 'body' %}
    <div class="margin-top-10"></div>
    <div class="text-center">
        <h2>Ваши подписки ({{profile.subscriptions.count}})</h2>
        <a href="{% url 'profile' %}">Назад к профилю</a>
    </div>
    <table class="table table-striped table-hover margin-top-5 theme-transition">
        <thead align="center">
            <tr>
                <th>Профиль</th>
                <th>Количество подписчиков</th>
                <th>Подписан на вас</th>
            </tr>
        </thead>
        <tbody align="center">
            {% for sub in profile.subscriptions.all %}
                <tr>
                    <td><a href="{% url 'profile' username=sub.user.username %}">{{ sub.user.username }}</a></td>
                    <td>{{ sub.subscribers.count }}</td>
                    <td>{% if user.profile in sub.subscriptions.all %}Да{% else %}Нет{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
