{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    {% if user == profile.user %}
        Ваш профиль
    {% else %}
        Профиль {{ profile.user.username }}
    {% endif %}
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'styles/cardLinkList.css' %}">
    <style>
        #account-img {
            display: block;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="margin-top-5"></div>
    <h2 class="text-center">Профиль пользователя {{ profile.user }}</h2>
    {% if user == profile.user %}
        <h5 class="text-center text-secondary"><i>Это вы!</i></h5>
    {% endif %}
    <img id="account-img" class="rounded-circle margin-top-2 mx-auto"
        src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}"
        width="150px" height="150px">
    <br>
    {% if profile.status %}
        <p class="text-secondary text-center quotes">{{ profile.status }}</p>
    {% endif %}

    <div class="text-center margin-top-2">
        {% if user == profile.user %}
            <a class="btn btn-primary" href="{% url 'profile_edit' %}">
                Редактировать Профиль
            </a>
        {% elif user.is_authenticated %}
            {% if is_sub %}
                <a href="{% url 'unsubscribe' username=profile.user.username %}"
                class="btn btn-outline-danger">
                    Вы подписаны ({{ profile.subscribers.count }})
                </a>
            {% else %}
                <a href="{% url 'subscribe' username=profile.user.username %}"
                class="btn btn-danger">
                    Подписаться ({{ profile.subscribers.count }})
                </a>
            {% endif %}
        {% endif %}
    </div>

    {% if request.user == profile.user %}
        <div class="text-center margin-top-2">
            <b>Количество подписчиков: {{ profile.subscribers.count }}</b> <br> <br>
            {% if profile.subscriptions.exists %}
                <b>Ваши подписки ({{ profile.subscriptions.count }})</b> <br>
            {% endif %}
            {% for sub in profile.subscriptions.all|slice:":5" %}
                <a href="{% url 'profile' username=sub.user.username %}">
                    {{ sub.user.username }}
                </a>
                <br>
                {% if forloop.last %}
                    <b><a href="{% url 'subscriptions'  %}">посмотреть полный список </a> </b>
                {%endif%}
            {% empty %}
                <i>Вы ни на кого не подписаны :/</i>
            {% endfor %}
        </div>
    {% endif %}

    <div class="text-center margin-top-2">
        <b>Треки пользователя</b>
    </div>
    {% if tracks|length > 0 %}
        <div class="card-link-list card-link-list-center">
            {% for track in tracks %}
                <a href="{% url 'track' track_id=track.id %}" class="theme-transition">
                    <b class="card-title">{{ track.name }}</b>
                    <i class="card-desc quotes">{{ track.desc }}</i>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <i>Пользователь не создавал треков</i>
        </div>
    {% endif %}

    <div class="text-center margin-top-2">
        <b>Лайки пользователя</b>
    </div>
    {% if likes|length > 0 %}
        <div class="card-link-list card-link-list-center">
            {% for track in likes %}
                <a href="{% url 'track' track_id=track.id %}" class="theme-transition">
                    <b class="card-title">{{ track.name }}</b>
                    <i class="card-desc quotes">{{ track.desc }}</i>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center"><i>Пользователь не лайкал треки</i></div>
    {% endif %}
    <div class="margin-top-5"></div>
{% endblock %}