{% extends 'base.html' %}

{% block 'title' %}
    Популярные треки
{% endblock %}

{% block 'body' %}
    <div class="margin-top-10 text-center">
        <h2 align="center">Популярные треки</h2>
        <div class="help-sign mx-auto margin-top-5" data-toggle="tooltip"
        title="Здесь отображаются 15 публичных треков с наибольшим количеством прослушиваний">?</div>
    </div>
    <table class="table table-striped table-hover theme-transition margin-top-5">
        <thead align="center">
            <tr>
                <th>Трек</th>
                <th>Описание</th>
                <th>Кол-во лайков</th>
                <th>Кол-во прослушиваний</th>
            </tr>
        </thead>
        <tbody align="center">
            {% for track in tracks %}
                <tr>
                    <td><a href="{% url 'track' track_id=track.id %}">{{ track.name }}</a></td>
                    <td>{{ track.desc }}</td>
                    <td>{{ track.likes.count }}</td>
                    <td>{{ track.count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
