{% extends 'base.html' %}

{% block 'title' %}
    {{ track.name }} - {{ track.author.username }} &bullet; MusicShaper
{% endblock %}

{% block 'head' %}
    <style>
        button {
            margin-top: 15px;
        }

        #sendbtn {
            margin-bottom: 15px;
        }

        #like, #dislike {
            all: unset;
            cursor: pointer;
        }

        .my_comment button {
            display: none;
        }

        .my_comment:hover button {
            display: block;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <h1 class="margin-top-10 text-center">
        {{ track.name }}
    </h1>
    <h5 class="text-secondary text-center margin-top-2 quotes">{{ track.desc }}</h5>
    <p class="text-center margin-top-2">
        <b>
            Автор:
            <a href="{% url 'profile' username=track.author.username %}">
                {{ track.author }}
            </a>
        </b>
        <br>
        <b> Дата Создания: </b>
        {{ track.creation_date|date:"d.m.Y G:i" }}
    </p>
    {% if track.settings.allow_rating %}
        <h1 class="text-center margin-top-5" id="rating">
            <button id="like" onclick="like()">👍</button>
            : <b id="likes_counter">{{ track.likes.count }}   </b>
            <button id="dislike" onclick="dislike()">👎</button>
            : <b id="dislikes_counter">{{ track.dislikes.count }}</b>
        </h1>
    {% endif %}

    <br>
    <div class="text-center">
        <a class="btn btn-danger" href="{% url 'claim_track' track_id=track.id %}">
            Пожаловаться
        </a>

    {% if user.is_superuser and track.claims.count >= 3 %}
            <a href="{% url 'delete_track' track_id=track.id %}"
                class="btn btn-outline-danger">
                Удалить проект
            </a>
    {% endif %}

    {% if track.author == user %}
            <a href="{% url 'delete_track' track_id=track.id %}"
                class="btn btn-outline-danger">
                Удалить проект
            </a>
    {% endif %}
   </div>

    {% if track.claims.exists %}
        {% if user.is_superuser or track.author == user %}
            <br>
            <h3 class="text-center">Жалобы:</h3>
            <div class="list-group">
                {% for t in track.claims.all %}
                    <div class="list-group-item">
                        <h5>Автор: {{ t.author }}</h5>
                        <b1 class="list-group-item-danger">{{ t.topic }}</b1> <br>
                        <i class="list-group-item-info">{{ t.content }}</i> <br>
                        <small>Дата создания / последнего изменения: {{ t.creation_date|date:"d.m.Y G:i" }}</small>
                    </div>
                {% endfor %}
            </div>
            <br>
        {% endif %}
    {% endif %}

    {% if track.settings.allow_comments %}
        <h3 class="margin-top-10" id="comment_counter">
            Комментарии ({{ track.comments.count }})
            {% if track.comments.count == 0 %}
                <i class="text-secondary"
                   style="font-size: 0.6em; position: relative; bottom: 0.3em;">
                    &lt;&ndash; Будьте первым!
                </i>
            {% endif %}
        </h3>

        <label>Напишите ваш комментарий</label>
        <input type="text" id="topic" class="form-control" placeholder="Тема" required>
        <br>
        <textarea id="comm" placeholder="Содержание" required
                  class="form-control" style="min-height: 40px; max-height: 180px;"></textarea>
        <button onclick="send_comment()" class="btn btn-success" id="sendbtn">
            Отправить
        </button>
        <div class="list-group" id="comments">
            {% for comment in track.comments.all %}
                <div id="comment_{{ comment.id }}"
                     class="list-group-item {% if comment.author == user %}my_comment{% endif %}">
                    <h6>
                        {{ comment.topic }} {{ comment.creation_date|date:"d.m.Y G:i" }}
                    </h6>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block 'scripts' %}
    <script>
        const comm = document.getElementById('comm');
        const topic = document.getElementById('topic');
        const my_comments = document.querySelectorAll(".my_comment");

        let already_liked = "{{ liked }}" === "True";
        let already_disliked = "{{ disliked }}" === "True";

        if (already_liked && already_disliked) {
            already_liked = false;
            already_disliked = true;
            dislike().then(() => {
                already_disliked = false;
                already_liked = true;
                like();
            });
        }

        update_icons({total_likes: "{{ total_likes }}", total_dislikes: "{{ total_dislikes}}"});

        for (const comment of my_comments) {
            const button = document.createElement("button");
            button.innerHTML = "Отредактировать";
            button.classList.add("btn", "btn-success");
            comment.appendChild(button);
            const d_button = document.createElement("button")
            d_button.innerHTML = "Удалить";
            d_button.classList.add("btn", "btn-danger");
            comment.appendChild(d_button);
            let p = comment.querySelector("p");
            d_button.onclick = () => ajax_promise({
                operation: "delete",
                comment_id: comment.id.replace("comment_", "")
            }).then(() => {
                p.parentNode.remove();
                const comments = document.getElementById("comments");
                const comment_counter = document.querySelector("#comment_counter");
                comment_counter.innerHTML = comment_counter.innerHTML.replace(/\(\d+\)/,
                    `(${comments.childElementCount})`)

            })
            let first_on_click = () => {
                const content = p.innerText;
                comment.removeChild(p);
                const text = document.createElement("textarea");
                text.classList.add("form-control");
                comment.insertBefore(text, button);
                text.value = content;
                button.innerHTML = "Сохранить";
                button.classList.replace("btn-outline-dark", "btn-outline-success");
                button.onclick = () => ajax_promise({
                    operation: "edit",
                    comment: text.value,
                    topic: topic.value,
                    comment_id: comment.id.replace("comment_", "")
                })
                    .then(data => {
                        p = document.createElement("p");
                        p.innerHTML = text.value;
                        comment.removeChild(text);
                        comment.insertBefore(p, button);
                        button.onclick = first_on_click;
                        button.innerHTML = "Отредактировать";
                        button.classList.replace("btn-outline-success", "btn-outline-dark");
                    });
            };
            button.onclick = first_on_click;
        }

        function update_icons(data) {
            if (!document.getElementById("rating")) {
                return
            }
            if (data.total_dislikes !== undefined) {
                document.getElementById('dislikes_counter').innerHTML = data.total_dislikes;
                document.getElementById('dislike').innerHTML = already_disliked ? "🤢" : "👎";
            }
            if (data.total_likes !== undefined) {
                document.getElementById('likes_counter').innerHTML = data.total_likes;
                document.getElementById('like').innerHTML = already_liked ? "😍" : "👍";
            }
        }

        function ajax_promise(data) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: location.href,
                    dataType: "json",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        ...data
                    },
                    success: (data) => {
                        if (data.success) resolve(data);
                        else reject('failed');
                    },
                    error: (xhr, status, err) => {
                        reject(err);
                    }
                });
            })
        }

        async function like() {
            if (already_disliked) await dislike();
            try {
                const data = await ajax_promise({operation: 'like'});
                already_liked = !already_liked;
                update_icons(data);
            } catch (err) {
                console.error('failed to like');
                console.error(err);
            }
        }

        async function dislike() {
            if (already_liked) await like();
            try {
                const data = await ajax_promise({operation: 'dislike'});
                already_disliked = !already_disliked;
                update_icons(data);
            } catch (err) {
                console.error('failed to dislike');
                console.error(err);
            }
        }

        function send_comment() {
            if (comm.value === '' || topic.value === '') {
                alert('Пожалуйста, заполните поля');
                return;
            }
            ajax_promise({
                operation: 'send',
                comment: comm.value,
                topic: topic.value,
            }).then(() => location.reload());
        }

    </script>
{% endblock %}