{% extends 'base.html' %}

{% block 'body' %}
    <ul>
        <li>Название: {{ track.name }}</li>
        <li>Описание: {{ track.desc }}</li>
        <li>Автор: {{ track.author }}</li>
        <li>Дата Создания: {{ track.creation_date|date:"d.m.Y G:i" }}</li>
    </ul>

    {% if track.settings.allow_rating %}
        <h1>Лайки: {{ track.likes.count }}</h1>
        <h1>Дизлайки: {{ track.dislikes.count }}</h1>
    {% endif %}
    {% if track.settings.allow_comments %}
        <h1>Комментарии ({{ track.comments.count }})</h1>

        <label>Напишите ваш комментарий</label>
        <input type="text" id="topic" class="form-control" required>
        <br>
        <textarea id="comm" class="form-control" required> </textarea>
        <br>
        <button onclick="send_comment()" class="btn btn-outline-dark">Отправить</button>
        <div class="list-group">{% for comment in track.comments.all %}
            <div class="list-group-item">
            <h6>{{ comment.topic }} {{ comment.creation_date|date:"d.m.Y G:i" }} {{ comment.checked_by_author|yesno:"Да,Нет" }}</h6>
            <p>{{ comment.content }}</p>
            </div>
        {% endfor %}</div>
    {% endif %}
{% endblock %}

{% block 'scripts' %}
    <script>
        const comm = document.getElementById('comm');
        const topic = document.getElementById('topic');

        function send_comment() {
            if (comm.value === ""||topic.value === ""){
                alert("Пожалуйста, заполните поля")
                return
            }
            $.ajax({
                url: "{% url 'track' id=track.id %}", dataType: "json", data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}", comment: comm.value, topic: topic.value
                }, success: () => {
                    location.reload()
                }
            });
            console.log(comm.value)
        }
    </script>
{% endblock %}