{% extends 'base.html' %}

{% block 'title' %}
    Удаление проекта
{% endblock %}

{% block 'body' %}
    <div class="text-center margin-top-20">
        <h1>Удаление проекта</h1>
        <h2 class="quotes">{{ project.name }}</h2>
    </div>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <p class="margin-top-5">
            Это действие нельзя отменить. <br>
            <small>Никак.</small>
        </p>
        <input type="submit" value="Удалить проект" class="btn btn-outline-danger margin-top-5"> <br>
        <div class="margin-top-5"></div>
        <a href="{% url 'manage_project' proj_id=project.id %}" class="btn btn-outline-primary">
            Назад к настройкам
        </a>
    </form>
{% endblock %}