{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Проект {{ project.name }}
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'styles/cardLinkList.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="text-center margin-top-10">
        <h1>Проект</h1>
        <h2 class="quotes">{{ project.name }}</h2>
        {% if project.desc %}
            <h5 class="text-secondary quotes margin-top-2 mx-auto" style="max-width: 45%;">{{ project.desc }}</h5>
        {% endif %}
        <div class="margin-top-2"></div>
        <a href="{% url 'projects' %}">Назад к списку проектов</a>
    </div>
    <div class="text-center margin-top-2">
        <a class="btn btn-outline-primary" href="{% url 'manage_project' proj_id=project.id %}">
            Управление проектом
        </a>
    </div>
    <div class="text-center margin-top-5">
        {% if not project.instruments.exists %}
            <p>
                В проекте нет музыкальных инструментов. <br>
                Без инструментов сложно сделать трек, так что...
            </p>
            <a class="btn btn-outline-primary" href="{% url 'new_instrument' proj_id=project.id %}">
                Создать первый инструмент
            </a>
        {% elif not project.patterns.exists %}
            <div class="card-link-list card-link-list-center">
                <a href="{% url 'instruments' proj_id=project.id %}">
                    <div class="card-title">Музыкальные инструменты</div>
                </a>
            </div>
            <p class="margin-top-5">
                Теперь вы можете приступить к написанию мелодии в паттерне. <br>
                В свою очередь из паттернов вы сможете составить полноценный трек.
            </p>
            <a class="btn btn-outline-primary" href="{% url 'new_pattern' proj_id=project.id %}">
                Создать первый паттерн
            </a>
        {% else %}
            <div class="card-link-list card-link-list-center">
                <a href="{% url 'instruments' proj_id=project.id %}">
                    <div class="card-title">Музыкальные инструменты</div>
                </a>
                <a href="{% url 'patterns' proj_id=project.id %}">
                    <div class="card-title">Паттерны</div>
                </a>
            </div>
            {% if not timeline_edited %}
                <p class="margin-top-2">
                    Пришло время расставить паттерны на таймлинии!
                </p>
            {% endif %}
            <div class="card-link-list card-link-list-center">
                <a href="{% url 'timeline' proj_id=project.id %}">
                    <div class="card-title">Таймлиния</div>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}