{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Список проектов
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'styles/cardLinkList.css' %}">
    <style>
        #new_btn {
            border: 1px dashed darkgreen;
            transition: all 0.1s ease-in-out;
        }

        #new_btn:hover {
            border-width: 2px;
            background-color: lightgreen;
            font-size: 1.2em;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="margin-top-10"></div>
    <h1 class="text-center">Список ваших проектов</h1>
    <div class="card-link-list card-link-list-center">
        {% for p in projects %}
            <a href="{% url 'project_home' id=p.id %}">
                <b class="card-title">{{ p.name }}</b>
                <i class="card-desc quotes">{{ p.desc }}</i>
            </a>
        {% endfor %}
        <a href="{% url 'new_project' %}" id="new_btn">
            <b class="card-title-center">
                Новый проект
            </b>
        </a>
    </div>
{% endblock %}