<div class="piano not-draggable">
    <div note="C"  class="key white"></div>
    <div note="C#" class="key black"></div>
    <div note="D"  class="key white"></div>
    <div note="D#" class="key black"></div>
    <div note="E"  class="key white"></div>
    <div note="F"  class="key white"></div>
    <div note="F#" class="key black"></div>
    <div note="G"  class="key white"></div>
    <div note="G#" class="key black"></div>
    <div note="A"  class="key white"></div>
    <div note="A#" class="key black"></div>
    <div note="B"  class="key white"></div>
</div>