{% extends 'base.html' %}
{% load i18n %}

{% block 'title' %}
    Настройки инструмента
{% endblock %}

{% block 'head' %}
    <style>
        label + input + label {
            margin-top: 7px;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="text-center margin-top-10">
        <h2>Настройки инструмента</h2>
        <h3 class="quotes">{{ instrument.name }}</h3>
        <h5 class="text-secondary">{{ instrument.type }}</h5>
        <div class="margin-top-2"></div>
        <a href="{% url 'instruments' id=project.id %}">Назад к списку инструментов</a>
    </div>
    <form method="POST" class="margin-top-5">
        {% csrf_token %}
        {% regroup form.visible_fields by field.group as grouped_fields %}
        {% for group in grouped_fields %}
            <div class="card form-group">
                <div class="card-body">
                    {% if group.grouper != '.' %}
                        <h6 class="card-title">{% trans group.grouper|capfirst %}</h6>
                    {% endif %}
                    {% for field in group.list %}
                        <label>{% trans field.label|capfirst %}</label> {{ field }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}