{% extends 'base.html' %}

{% block 'title' %}
    Список инструментов
{% endblock %}

{% block 'head' %}
    <style>
        div.container {
            margin-top: 5%;
        }

        .title {
            margin-bottom: 8%;
        }

        a {
            margin-top: 2%;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="text-center title">
        <h2>Список инструментов</h2>
        <a href="{% url 'project_home' id=project.id %}">Назад к проекту</a>
    </div>
    {% if instruments.count == 0 %}
        <div class="text-center">
            В проекте ещё нет инструментов!
        </div>
        {% else %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                </tr>
            </thead>
            <tbody>
                {% for i in instruments.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="#">{{ i.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="text-center">
        <a class="btn btn-outline-primary" href="{% url 'project_new_instrument' id=project.id %}">
            Новый инструмент
        </a>
    </div>
{% endblock %}