{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Создание инструмента
{% endblock %}

{% block 'head' %}
    {% include 'components/piano-keys.html' %}
    <link rel="stylesheet" href="{% static 'styles/slider.css' %}">
    <style>
        .card {
            padding: 30px;
        }

        div.container > * {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        #synthSettings .card {
            margin-top: 15px;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="margin-top-5"></div>
    <div class="text-center">
        <h2>Создание инструмента</h2>
        <a href="{% url 'instruments' id=project.id %}">
            Назад к списку инструментов
        </a>
    </div>
    <div class="margin-top-5"></div>

    <div class="form-group mx-auto" style="max-width: 36%;">
        <label>Октава (от 2 до 7)</label>
        <input id="octaveInput" type="number" class="form-control"
            min="2" max="7" value="4">
    </div>
    
    <piano-keys></piano-keys>

    <div class="margin-top-5"></div>
    <div class="form-group mx-auto text-center" style="width: 40%;">
        <label>Громкость</label>
        <input type="range" min="-20" max="5" value="-10" class="slider" id="volumeSlider">
    </div>

    <div class="form-group text-center" style="margin-top: 30px;">
        <label>Тип инструмента</label>
        <select id="synthSelector" class="form-control mx-auto">
        </select>
    </div>

    <div id="synthSettings" class="card"></div>
    <br>

    <template id="number_setting">
        <div class="form-group">
            <label></label>
            <input type="number" class="form-control">
        </div>
    </template>

    <template id="select_setting">
        <div class="form-group">
            <label></label>
            <select class="form-control"></select>
        </div>
    </template>

    <template id="settings_group">
        <div class="card">
            <h5></h5>
        </div>
    </template>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'libs/Tone.js' %}"></script>
    <script src="{% static 'scripts/musicNotes.js' %}"></script>
    <script src="{% static 'scripts/instrumentDefaults.js' %}"></script>
    <script>
        (function() {

        // #region options menu

        const synthSelector = document.getElementById('synthSelector');
        const synthSettingsDiv = document.getElementById('synthSettings');

        // instrument type select
        getSynthNames().forEach(synthName => {
            const newOption = document.createElement("option");
            newOption.value = synthName;
            newOption.innerHTML = translate(synthName);

            synthSelector.appendChild(newOption);
        });

        function getSettingsPath(name, element) {
            let path = '';
            let parent = element.parentElement;
            while (parent && parent != synthSettingsDiv && parent != document.body) {
                if (parent.hasAttribute('settings-group')) {
                    path = parent.getAttribute('settings-group') + '.' + path;
                }
                parent = parent.parentElement;
            }

            return path + name;
        }

        function updateSynth(path, value) {
            const keys = path.split('.');

            const set = (obj, key) => {
                if (key.startsWith('s__'))
                    set(obj[key.slice(3)], 'value');
                else if (obj !== undefined)
                    obj[key] = value;
            }

            if (keys.length == 1) {
                set(piano.synth, keys[0]);
            }
            else {
                let obj = piano.synth;
                keys.forEach((key, i) => {
                    if (i < keys.length - 1) {
                        obj = obj[key];
                    }
                    else {
                        set(obj, key);
                    }
                });
            }
        }

        function drawNumberSetting(name, [initial, min=undefined, max=undefined, step=undefined]) {
            const formGroup = number_setting.content.cloneNode(true);
            formGroup.querySelector('label').innerHTML = translate(name);

            const input = formGroup.querySelector('input');
            input.value = initial;
            if (min !== undefined) input.min = min;
            if (max !== undefined) input.max = max;
            input.step = step !== undefined ? step : 0.1;

            input.onchange = function () {
                if (min !== undefined && this.value < min) this.value = min;
                if (max !== undefined && this.value > max) this.value = max;
                updateSynth(getSettingsPath(name, this), Number(this.value));
            };

            input.onchange();

            return formGroup;
        }

        function drawSelectSetting(name, options) {
            const formGroup = select_setting.content.cloneNode(true);
            formGroup.querySelector('label').innerHTML = translate(name);

            const select = formGroup.querySelector('select');
            options.forEach(option => {
                const optionEl = document.createElement("option");
                optionEl.value = option;
                optionEl.innerHTML = translate(option);

                select.appendChild(optionEl);
            });

            select.onchange = function () {
                updateSynth(getSettingsPath(name, this), this.value);
            }

            select.onchange();

            return formGroup;
        }

        function drawSettings(settings, div) {
            for (const [key, value] of Object.entries(settings)) {
                if (value instanceof Array) {
                    const valueType = typeof value[0];
                    switch (valueType) {
                        default:
                            console.error(`not supported setting type ${valueType} (${key})`);
                            break;
                        
                        case 'undefined': continue;
                        case 'number': div.appendChild(drawNumberSetting(key, value)); break;
                        case 'string': div.appendChild(drawSelectSetting(key, value)); break;
                    }
                }
                else {
                    const settingsGroup = settings_group.content.cloneNode(true);
                    settingsGroup.querySelector('h5').innerHTML = translate(key);

                    const settingsDiv = settingsGroup.querySelector('div');
                    settingsDiv.setAttribute('settings-group', key);
                    drawSettings(value, settingsDiv);

                    div.appendChild(settingsGroup);
                }
            }
        }

        synthSelector.onchange = ({ srcElement: { value: synthName } }) => {
            makeSynth(Tone[synthName]);
            setTimeout(() => {
                synthSettingsDiv.innerHTML = '';
                drawSettings(getSynthDefaults(synthName), synthSettingsDiv);
            }, 100)
        }

        // #endregion
        
        // #region piano

        const piano = document.getElementsByTagName('piano-keys').item(0);

        document.getElementById('octaveInput').onchange = function () {
            piano.setAttribute('octave', this.value);
        }

        document.getElementById('volumeSlider').onchange = function () {
            if (piano.synth) piano.synth.volume.value = Number(this.value);
        }
        
        const gain = new Tone.Gain(0.3);
        gain.toMaster();
        
        function makeSynth(_constructor) {
            if (piano.synth) {
                piano.stop();
                piano.synth.disconnect();
            }
            
            piano.synth = new _constructor();
            piano.synth.connect(gain);
        }
        
        // #endregion
        
        // init
        makeSynth(Tone.Synth);
        synthSelector.onchange({ srcElement: { value: 'Synth' } });

        })();
    </script>
{% endblock %}