{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Создание инструмента
{% endblock %}

{% block 'head' %}
    {% include 'components/piano-keys.html' %}
    <style>
        .card {
            padding: 30px;
        }

        div.container > * {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        #synthSettings .card {
            margin-top: 15px;
        }

        #error {
            color: red;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="margin-top-5"></div>
    <div class="text-center">
        <h2>Создание инструмента</h2>
        <a href="{% url 'instruments' id=project.id %}">
            Назад к списку инструментов
        </a>
    </div>
    <div class="margin-top-5"></div>

    <div class="mx-auto" style="max-width: 36%">
        <div class="form-group">
            <label>Название</label>
            <input id="nameInput" type="text" class="form-control"
                minlength="1" maxlength="25" placeholder="Название инструмента">
            <br>
        </div>
        <div class="form-group">
            <label>Октава (от 2 до 7)</label>
            <input id="octaveInput" type="number" class="form-control"
                min="2" max="7" value="4">
            <small>Необязательная настройка (нужна только для тестирования)</small>
        </div>
    </div>
    
    <piano-keys></piano-keys>

    <div class="form-group text-center" style="margin-top: 30px;">
        <label>Тип инструмента</label>
        <select id="synthSelector" class="form-control mx-auto">
        </select>
    </div>

    <div id="synthSettings" class="card"></div>
    <br>

    <div class="text-center">
        <button id="createBtn" class="btn btn-outline-primary">Создать</button>
        <div class="margin-top-5"></div>
        <div id="error"></div>
        <div class="margin-top-10"></div>
    </div>

    <template id="number_setting">
        <div class="form-group">
            <label></label>
            <input type="number" class="form-control">
        </div>
    </template>

    <template id="select_setting">
        <div class="form-group">
            <label></label>
            <select class="form-control"></select>
        </div>
    </template>

    <template id="settings_group">
        <div class="card">
            <h5></h5>
        </div>
    </template>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'libs/Tone.js' %}"></script>
    <script src="{% static 'scripts/musicNotes.js' %}"></script>
    <script src="{% static 'scripts/instrumentDefaults.js' %}"></script>
    <script>
        (function() {

        // #region options menu

        const synthSelector = document.getElementById('synthSelector');
        const synthSettingsDiv = document.getElementById('synthSettings');

        let changes = {};

        // instrument type select
        getSynthNames().forEach(synthName => {
            const newOption = document.createElement("option");
            newOption.value = synthName;
            newOption.innerHTML = translate(synthName);

            synthSelector.appendChild(newOption);
        });

        function getSettingsPath(element) {
            const keys = [];

            let parent = element.parentElement;
            while (parent && parent != synthSettingsDiv && parent != document.body) {
                if (parent.hasAttribute('settings-group')) {
                    keys.unshift(parent.getAttribute('settings-group'));
                }
                parent = parent.parentElement;
            }

            return keys;
        }

        function updateSynth(path, name, value) {
            const set = (obj, key) => {
                if (key.startsWith('s__'))
                    set(obj[key.slice(3)], 'value');
                else if (obj !== undefined)
                    obj[key] = value;
            }

            if (path.length == 0) {
                set(piano.synth, name);
                changes['settings_' + name] = value;
            }
            else {
                let obj = piano.synth;
                path.forEach(key => obj = obj[key]);
                set(obj, name);
                changes['settings_' + path.join('.') + '.' + name] = value;
            }
        }

        function drawNumberSetting(name, [initial, min=undefined, max=undefined, step=undefined]) {
            const formGroup = number_setting.content.cloneNode(true);
            formGroup.querySelector('label').innerHTML = translate(name);

            const input = formGroup.querySelector('input');
            input.value = initial;
            if (min !== undefined) input.min = min;
            if (max !== undefined) input.max = max;
            input.step = step !== undefined ? step : 0.1;

            input.onchange = function () {
                if (min !== undefined && this.value < min) this.value = min;
                if (max !== undefined && this.value > max) this.value = max;
                updateSynth(getSettingsPath(this), name, Number(this.value));
            };

            return [formGroup, () => input.onchange()];
        }

        function drawSelectSetting(name, options) {
            const formGroup = select_setting.content.cloneNode(true);
            formGroup.querySelector('label').innerHTML = translate(name);

            const select = formGroup.querySelector('select');
            options.forEach(option => {
                const optionEl = document.createElement("option");
                optionEl.value = option;
                optionEl.innerHTML = translate(option);

                select.appendChild(optionEl);
            });

            select.onchange = function () {
                updateSynth(getSettingsPath(this), name, this.value);
            }

            return [formGroup, () => select.onchange()];
        }

        function drawSettings(settings, div) {
            for (const [key, value] of Object.entries(settings)) {
                if (value instanceof Array) {
                    const valueType = typeof value[0];

                    let drawingResult = null;
                    switch (valueType) {
                        default:
                            console.error(`not supported setting type ${valueType} (${key})`);
                            continue;
                        
                        case 'undefined': continue;
                        case 'number': drawingResult = drawNumberSetting(key, value); break;
                        case 'string': drawingResult = drawSelectSetting(key, value); break;
                    }

                    if (!(drawingResult instanceof Array && drawingResult.length == 2)) {
                        console.error(`invalid drawing result (key: ${key})`);
                        continue;
                    }

                    div.appendChild(drawingResult[0]);
                    drawingResult[1]();
                }
                else {
                    const settingsGroup = settings_group.content.cloneNode(true);
                    settingsGroup.querySelector('h5').innerHTML = translate(key);

                    const settingsDiv = settingsGroup.querySelector('div');
                    settingsDiv.setAttribute('settings-group', key);
                    div.appendChild(settingsGroup);

                    drawSettings(value, settingsDiv);
                }
            }
        }

        synthSelector.onchange = ({ srcElement: { value: synthName } }) => {
            makeSynth(Tone[synthName]);
            synthSettingsDiv.innerHTML = '';
            drawSettings(getSynthDefaults(synthName), synthSettingsDiv);
        }

        // #endregion
        
        // #region piano

        const piano = document.getElementsByTagName('piano-keys').item(0);

        document.getElementById('octaveInput').onchange = function () {
            piano.setAttribute('octave', this.value);
        }
        
        const gain = new Tone.Gain(0.4);
        gain.toMaster();
        
        function makeSynth(_constructor) {
            if (piano.synth) {
                piano.stop();
                piano.synth.disconnect();
            }
            
            piano.synth = new _constructor();
            piano.synth.connect(gain);

            changes = {};
        }
        
        // #endregion
        
        // #region creation form

        const nameInput = document.getElementById('nameInput');
        const errorDiv = document.getElementById("error");
        
        function showError(message) {
            errorDiv.innerHTML = `<i>${message}</i>`;
        }

        function hideError() {
            return showError('');
        }
        
        document.getElementById('createBtn').onclick = () => {
            const name = nameInput.value;
            if (name.length == 0 || name.length > 25) {
                return showError('некорректное имя инструмента');
            }

            console.log(changes);

            $.ajax({
                url: window.location.href,
                method: 'POST',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    name,
                    ...changes,
                },

                success: (data) => {
                    if (data.success) {
                        const url = "{% url 'instruments' id=0 %}".replace('/0', '/{{ project.id }}');
                        location.replace(url);
                    }
                    else {
                        showError('Произошла ошибка: сервер не отвечает');
                    }
                },

                error: (error, _status, thrownErr) => {
                    let msg = thrownErr;
                    if (error.responseText.length <= 100) {
                        msg += `<br>${error.responseText}`;
                    }
                    showError(`Произошла ошибка: ${msg}`);
                }
            });
        };

        // #endregion

        // init
        makeSynth(Tone.Synth);
        synthSelector.onchange({ srcElement: { value: 'Synth' } });

        })();
    </script>
{% endblock %}