.margin-top-2 {
    margin-top: 2%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-30 {
    margin-top: 30%;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quotes::before {
    content: "“";
}

.quotes::after {
    content: "”";
}

.tooltip {
    top: 0;
}

.help-sign {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font-size: calc(var(--size) * 0.7);
    color: white;
    line-height: var(--size);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
