.margin-top-2 {
    margin-top: 2%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-30 {
    margin-top: 30%;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quotes::before {
    content: "“";
}

.quotes::after {
    content: "”";
}
