.margin-top-2 {
    margin-top: 2%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-30 {
    margin-top: 30%;
}

.not-draggable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.quotes::before {
    content: "“";
}

.quotes::after {
    content: "”";
}
