.card-link-list {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.card-link-list-center {
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card-link-list a {
    position: relative;
    text-align: center;
    overflow-y: auto;
    margin: 10px;
    min-width: 200px;
    min-height: 140px;
    border-radius: 14px;
    color: black;
    text-decoration: none;
    background-color: var(--bg-secondary);
    box-shadow: 0 0 8px rgba(10, 10, 10, 0.35);
    transition-property: background-color, border-radius;
    transition-duration: 0.2s, 0.1s;
    transition-timing-function: ease-out, ease-in;
}

.card-link-list a::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

.card-link-list a:hover {
    background-color: var(--bg);
    border-radius: 20px;
}

.card-link-list a .card-desc,
.card-link-list a .card-title {
    position: absolute;
    width: 100%;
    left: 0;
    color: var(--text);
    --title-top: 25%;
}

.card-link-list a .card-title:only-child {
    top: 70px;
    transform: translateY(-50%);
}

.card-link-list a .card-title:not(:only-child) {
    top: var(--title-top);
}

.card-link-list a .card-title + .card-desc {
    top: calc(var(--title-top) + 2em);
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1em;
    max-height: 3em;
    max-width: 90%;
    margin-left: 5%;
}
