:root {
    --scrollbar-width: 25px;
    --scrollbar-thump-width: 60px;
}

.scrollbar {
    background-color: whitesmoke;
}

.scrollbar-thumb {
    background-color: gray;
}

.scrollbar-vertical {
    width: var(--scrollbar-width);
    height: 100%;
}

.scrollbar-horizontal {
    width: 100%;
    height: var(--scrollbar-width);
}

.scrollbar-vertical > .scrollbar-thumb {
    width: inherit;
    height: var(--scrollbar-thump-width);
}

.scrollbar-horizontal > .scrollbar-thumb {
    width: var(--scrollbar-thump-width);
    height: inherit;
}
