.track-card {
    min-height: 140px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease;
}

.track-card:hover {
    background-color: rgb(250, 250, 250);
}

.track-card a {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.track-card:hover a {
    opacity: 1;
}