{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Паттерн {{ pattern.name }}
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'styles/noteEditor.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="settingsPanel theme-transition">
        <h5 class="inputs">
            Редактор паттерна
            <span style="margin-left: 5px;" class="quotes">{{ pattern.name }}</span>
            <div class="seperator"></div>
            <button id="saveBtn" class="btn btn-outline-success">Сохранить</button>
            <div class="seperator"></div>
            <a href="{% url 'manage_pattern' proj_id=project.id pat_id=pattern.id %}">
                Управление паттерном
            </a>
            <div class="seperator"></div>
            <a href="{% url 'patterns' proj_id=project.id %}">Список паттернов</a>
            <div class="seperator"></div>
            <a href="{% url 'project_home' proj_id=project.id %}">Назад к проекту</a>
        </h5>
        <div class="settings inputs">
            <button id="playBtn" onclick="play()">Играть</button>
            <button id="stopBtn" onclick="stop()">Стоп</button>
            <div class="seperator"></div>
            <label>Текущий инструмент:</label>
            <select id="instrumentSelect">
                {% for name in allInstruments %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
            <div class="seperator"></div>
            <label>Темп:</label>
            <input id="projBpm" type="number" min="32" max="999"
            value="{{ project.settings.bpm }}">
        </div>
    </div>
    <div style="width: inherit; height: calc(100vh - var(--panel-height)); overflow: scroll;">
        <canvas id="mainCanvas" oncontextmenu="return false">
            Ваш браузер не поддерживает canvas :/
        </canvas>
    </div>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'libs/Tone.js' %}"></script>
    <script src="{% static 'libs/paper.js' %}"></script>

    <script>
        var csrf_token = '{{ csrf_token }}';
        var patternDuration = Number('{{ pattern.duration }}');

        var octaves = 6;
        var octavesFrom = 2;

        var noteNotations = [
            'C', 'C#',
            'D', 'D#',
            'E',
            'F', 'F#',
            'G', 'G#',
            'A', 'A#',
            'B',
        ];

        var noteNotationsTotalLenght = noteNotations.length * octaves;
    </script>

    {{ musicNotes|json_script:"musicNotes" }}
    {{ allInstruments|json_script:"allInstrumentNames" }}
    {{ usedInstruments|json_script:"usedInstruments" }}

    <script src="{% static 'scripts/noteEditor/resize.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/loadInstrument.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/musicNote.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/player.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/save.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/init.js' %}"></script>
    <script src="{% static 'scripts/noteEditor/draw.js' %}"
    async type="text/paperscript" canvas="mainCanvas"></script>
{% endblock %}
