<div class="card theme-transition">
    <div class="card-header">
        <h4>Редактор паттерна</h4>
    </div>
    <div class="card-body">
        <div class="btn-group">
            <button class="btn btn-secondary">Pause</button>
            <button class="btn btn-success" onclick="player.play()">Play</button>
            <button class="btn btn-danger" onclick="player.stop()">Stop</button>
        </div>
        <button class="btn btn-outline-danger" style="float: right;"
            onclick="trackGrid.clear()">
            Очистить
        </button>
    </div>
</div>