{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Список инструментов
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'styles/cardLinkList.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="margin-top-10"></div>
    <div class="text-center title">
        <h2>Список инструментов</h2>
        <a href="{% url 'project_home' id=project.id %}">Назад к проекту</a>
    </div>
    <div class="margin-top-5"></div>
    {% if instruments.count == 0 %}
        <div class="text-center">
            В проекте ещё нет инструментов!
        </div>
    {% else %}
        <div class="card-link-list card-link-list-center">
            {% for i in instruments.all %}
                <a href="{% url 'edit_instrument' proj_id=project.id id=i.id %}">
                    <b class="card-title">
                        {{ i.name }}
                    </b>
                    <i class="card-desc">
                        {{ i.type }}
                    </i>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="margin-top-5"></div>
    <div class="text-center">
        <a class="btn btn-outline-primary" href="{% url 'new_instrument' id=project.id %}">
            Новый инструмент
        </a>
    </div>
{% endblock %}