{% extends 'base.html' %}
{% load static %}

{% block 'body' %}
    <div class="centered" style="max-width: 80vw; max-height: 70vh; overflow: scroll;">
        <canvas id="canvas">
            Ваш браузер не поддерживает canvas :/
        </canvas>
    </div>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'scripts/grid.js' %}"></script>
    <script src="{% static 'scripts/canvasGrid.js' %}"></script>
    <script src="{% static 'scripts/canvasGridDrawer.js' %}"></script>
    <script>
        const canvas = document.getElementById("canvas");
        const canvasGrid = new CanvasGrid(100, 7 * 8, 50, 25, canvas);

        window.onresize = () => {
            canvas.onresize();
        }

        function renderLoop() {
            canvasGrid.render();

            window.requestAnimationFrame(renderLoop);
        }
        
        window.requestAnimationFrame(renderLoop);
    </script>
{% endblock %}