{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Создание трека
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/editor.css' %}">
{% endblock %}

{% block 'body' %}
    <div style="display: grid; height: 100vh; grid-template-rows: auto auto;">
        {% include 'melodySettings.html' %}
        {% include 'melodyEditor.html' %}
    </div>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'scripts/grid.js' %}"></script>
    <script src="{% static 'scripts/canvasPatternMousePainter.js' %}"></script>
    <script src="{% static 'scripts/canvasPatternGrid.js' %}"></script>
    <script src="{% static 'scripts/scrollbarThumb.js' %}"></script>
    <script src="{% static 'scripts/musicNotes.js' %}"></script>
    <script src="{% static 'scripts/layeredCanvas.js' %}"></script>
    <script>
        const notes = getMusicNotes();

        const noteSize = [50, 25];

        const trackGrid = new CanvasPatternGrid('track', [100, notes.length], noteSize, {
            note: "#fc4141"
        });
        
        window.onload = () => {
            trackGrid.renderBackground();
        }

        const thumbs = document.getElementsByClassName("scrollbar-thumb");
        new ScrollbarThumb(thumbs[0], document.getElementById("horizontal_scroll"));
        new ScrollbarThumb(thumbs[1], document.getElementById("vertical_scroll"));

        /*
        const notesCtx = this.cheatcheetGrid.emptyLayer.getContext('2d');
        notesCtx.font = font;
        notesCtx.fillStyle = color;
        for (let i = 0; i < notes.length; i++) {
            notesCtx.fillText(notes[i][0], 4, i * this.cheatcheetGrid.cellHeight + 21);
        }
        */

    </script>
{% endblock %}