{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    Создание трека
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/editor.css' %}">
{% endblock %}

{% block 'body' %}
    <div style="display: grid; height: 100vh; grid-template-rows: auto auto; overflow: hidden;">
        {% include 'melodySettings.html' %}
        {% include 'melodyEditor.html' %}
    </div>
{% endblock %}

{% block 'scripts' %}
    <script src="{% static 'libs/Pizzicato.min.js' %}"></script>
    <script src="{% static 'scripts/grid.js' %}"></script>
    <script src="{% static 'scripts/canvasGrid.js' %}"></script>
    <script src="{% static 'scripts/canvasGridDrawer.js' %}"></script>
    <script src="{% static 'scripts/scrollbarThumb.js' %}"></script>
    <script src="{% static 'scripts/musicNotes.js' %}"></script>
    <script src="{% static 'scripts/musicPatternGrid.js' %}"></script>
    <script>
        const cheatsheetCanvas = document.getElementById("notes");
        const trackCanvas = document.getElementById("track");
        if (!(trackCanvas.getContext && cheatsheetCanvas.getContext)) {
            throw new Error("canvas is not supported");
        }

        const notes = getMusicNotes();

        const musicPatternGrid = new MusicPatternGrid(cheatsheetCanvas, trackCanvas, notes, 100, 50, 25, {
            source: 'wave'
        });

        const thumbs = document.getElementsByClassName("scrollbar-thumb");
        new ScrollbarThumb(thumbs[0], cheatsheetCanvas.parentElement.parentElement);
        new ScrollbarThumb(thumbs[1], trackCanvas.parentElement);

        window.onresize = (event) => {
            musicPatternGrid.onresize(event);
        }

        window.onload = () => {
            let audioContext = window.AudioContext;
            let sound = new Pizzicato.Sound({
                source: 'wave',
                options: {
                    type: 'triangle'
                }
            });

            sound.attack = 0.2;
            sound.release = 1;
            sound.volume = 0.1;

            musicPatternGrid.trackGrid.oncellupdate = (x, y, value) => {
                if (value) {
                    if (!audioContext) {
                        audioContext = new AudioContext();
                        window.onclose = () => audioContext.close();
                    }

                    const note = notes[y];
                    sound.frequency = note[1];

                    sound.play();
                }
            }

            musicPatternGrid.trackGrid.drawer.onenddraw = () => {
                sound.stop();
            }
        }

    </script>
{% endblock %}