{% extends 'base.html' %}

{% block 'title' %}Главная страница{% endblock %}
{% block 'head' %}

{% endblock %}
{% block 'body' %}
<div class="text-center">
    <h2>Добро пожаловать</h2>
    <br><br><br>
    Сайт предназначен для создания и публикации собственных музыкальных треков.
    <br><br>
    Многие могут задаться вопросом: <i> "Но зачем мне этот сайт, если есть специальные программы для этого?"</i>
    <br>
    <h6>А ответ очень прост - на этом сайте есть встроенный редактор музыки.</h6>
    На этом сайте вы можете:


{% if not user.is_authenticated %}
    <li>Создавать собственные треки (если вы находитесь в своем профиле)</li>
    <li>Публиковать их (если вы находитесь в своем профиле)</li>
    <li>Слушать чужие мелодии и комментировать их</li>
    <br><br>
    На данный момент вы не зашли в свой профиль или же вы просто не зарегистрированы.
    <br><br>
<br>
{% endif %}
{% if user.is_authenticated  %}
    <li>Создавать собственные треки</li>
    <li>Публиковать их</li>
    <li>Слушать чужие мелодии и комментировать их</li>
    <br><br>
    Послушайте самые популярные треки:<br>
    <button type="submit" class="btn btn-info">Популярные треки</button>
    <br><br>
    Список ваших пяти последних треков:
    <br><br><br><br><br>
<br>
{% endif %}
     Наслаждайтесь нашим продуктом ;)
    </div>
{% endblock %}

