{% extends 'base.html' %}

{% block 'title' %}
    Главная страница
{% endblock %}

{% block 'head' %}
    <style>
        .description {
            font-size: 17pt;
            word-wrap: break-word;
        }
        
        .block > .description {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }

        .block {
            margin-top: 10%;
        }

        h1 {
            margin-bottom: 40px;
        }

        .block > li {
            font-size: 15pt;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block 'body' %}
    <div class="margin-top-10"></div>
    <div class="text-center">
        {% if not user.is_authenticated %}
            <div class="block">
                <h2>Добро пожаловать!</h2>
                <h1>Делать музыку - это просто</h1>
                <div class="description">
                    Music Shaper позволяет вам легко писать собственные композиции и делиться ими со всем миром! <br>
                </div>
                <div class="btn-group-vertical">
                    <a class="btn btn-primary" href="{% url 'login' %}">
                        Войти
                    </a>
                    <a class="btn btn-success" href="{% url 'register' %}">
                        Регистрация
                    </a>
                </div>
            </div>
            
            <div class="block">
                <h1>Почему Music Shaper?</h1>
                <li>
                    Встроенный редактор
                    <p>
                        Он <i>есть</i>, он простой и удобный!
                    </p>
                </li>
                <li>
                    Легко делиться
                    <p>
                        ...
                    </p>
                </li>
            </div>
        {% else %}
            <div class="block">
                <h2>Ещё раз здравствуйте!</h2>
                <p class="description">
                    Похоже, что пришло время творить
                </p>
                <a class="btn btn-outline-success" href="{% url 'new_project' %}">
                    Создать проект
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}