{% extends 'base.html' %}

{% block 'title' %}Вход в аккаунт{% endblock %}
{% block 'head' %}
<style>
    .centered {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}
{% block 'body' %}
<form class="centered" action="" method="post">
    <h1 class="text-center">АВТОРИЗАЦИЯ</h1><br>
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group ">{{ field }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block">Войти</button>
    <a class="btn btn-secondary btn-block" href="{% url 'register' %}">Регистрация</a>
</form>
{% endblock %}