<div style="display: flex; flex-direction: column; width: 100vw; overflow: hidden;">
    <div style="display: flex; height: 100%; overflow: hidden;">
        <div class="scrollbar scrollbar-vertical"><div class="scrollbar-thumb"></div></div>
        <div style="overflow-y: hidden;">
            <div style="display: flex; align-items: flex-start;">
                <canvas id="notes"></canvas>
                <div style="overflow-x: hidden;">
                    <canvas id="track">Ваш браузер не поддерживает canvas :/</canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollbar scrollbar-horizontal"><div class="scrollbar-thumb"></div></div>
</div>