 <nav class="navbar" >
    <ul class="navbar-nav ">
      <li class="logo">
        <a href="{% url 'login' %}" class="nav-link">
          <span class="link-text logo-text">Main page</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'register' %}" class="nav-link">
          <span class="link-text">Registration</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link">
          <span class="link-text">Authorization</span>
        </a>
      </li>


      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link">
          <span class="link-text">Profile</span>
        </a>
      </li>

    </ul>
  </nav>
