{% extends 'base.html' %}

{% block 'title' %}Удаление аватарки{% endblock %}
{% block 'head' %}
    <style>
        form {
            width: 50%;
            margin: auto;
            margin-top: 20vh;
        }
    </style>
{% endblock %}
{% block 'body' %}
<br>
<form method="POST">
    {% csrf_token %}
    <h1 class="text-center">УДАЛЕНИЕ АВАТАРКИ</h1><br>
    <label>Вы действительно хотите удалить аватарку?</label>
    <div class="text-center"><button type="submit" class="btn btn-primary">Да!</button></div>
</form>
{% endblock %}