{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Профиль пользователя {{ user.username }}{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'styles/projectCard.css' %}">
<style>
  #projectsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
</style>
{% endblock %}
{% block 'body' %}
<br>
<div class="media">
    <img class="rounded-circle account-img" src="{{ profile.image.url }}" width="200px" height="200px">
    <div class="media-body">
        <h2 class="account-heading">Профиль пользователя {{ user.username }}</h2> <br>
        <p class="text-secondary">{{ profile.status }}</p>
    </div>
</div>
<br>
<div class="text-center"><b>Треки пользователя</b></div>
{% if tracks|length > 0 %}
  <div id="projectsGrid">
    {% for t in tracks %}
      {% include 'project/card.html' %}
    {% endfor %}
  </div>
{% else %}
  <div class="text-center"><i>Пользователь не создавал треков</i></div>
{% endif %}
<br>
<div class="text-center"><b>Лайки пользователя</b></div>
{% if likes|length > 0 %}
  <div id="projectsGrid">
    {% for l in likes %}
      {% include 'project/card.html' %}
    {% endfor %}
  </div>
{% else %}
  <div class="text-center"><i>Пользователь не лайкал треки</i></div>
{% endif %}
{% endblock %}