{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Поиск{% endblock %}

{% block 'body' %}
    <br>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <h2>ПОИСК</h2><br>
        <div class="form-group">
            <input type="search" placeholder='Введите ваш запрос' class="form-control" name='search' required>
        </div>
        <div class="form-group">
            <label>Искать по:</label>
            <select name="filter">
                <option value="user" {% if filter == "user" %}selected{% endif %}>Пользователям</option>
                <option value="track" {% if filter == "track" %}selected{% endif %}>Трекам</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Искать</button>
        </div>
    </form>
    <br>
    {% if query %}
        <ul class="list-group">
        {% if users %}
        {% for u in users %}
            <li class="list-group-item">
                <img height="40px" width="40px" class="rounded-circle" 
                src="{% if u.profile.image %}{{ u.profile.image.url }}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}">
                <b>{{ u.profile.user }}</b>
                <i><small>{{ u.profile.status }}</small></i>
            </li>
        {% empty %}
            <div class="text-center">
                <i>Ничего не найдено</i>
            </div>
        {% endfor %}
        {% else %}
        {% for t in tracks %}
            <li class="list-group-item">
                <p>{{ t.name }}</p>
            </li>
        {% empty %}
            <div class="text-center">
                <i>Ничего не найдено</i>
            </div>
        {% endfor %}
        {% endif %}
        </ul>
    {% endif %}
{% endblock %}